
.movie-card {
  margin: 0 15px;
  height: 250px;
  flex: 0 0 250px;
  cursor: pointer;
  box-shadow: 0 2px 3px rgba(0,0,0,0.3);
  transition: transform 200ms ease;

  &:hover {
    transform: translateY(-7px);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .details {
    padding: 10px 20px;
    line-height: 17px;
    text-transform: uppercase;

    & > span {
      color: #818181;
      font-size: 0.8em;
    }

    h4 {
      color: #111;
      margin-top: 10px;
      font-size: 1.1em;
      margin-top: 12px;
      line-height: 25px;
    }
  }
}
